h1 {
    font-family: "Arial Bold", sans-serif;
    font-size: 40px;
    color: white;
}
h2 {
    font-family: "Arial Bold", sans-serif;
    font-size: 24px;
    color: #444444;
}
h3 {
    font-family: "Arial Bold", sans-serif;
    font-size: 17px;
    color: #1b447f;
}
body {
    font-family: "Arial Regular", sans-serif;
    font-size: 17px;
    color: #03a3df;
}
.header {
    background-color: #03a3df;
}
nav {
    position: relative;
    left: 90%;
    bottom: 90px;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}
.gold {
    color: #ecb722;
}
h1{
    position: relative;
    left: 40px;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.box {
    box-sizing: border-box;
    width: 30%;
    padding: 1rem;
    margin: 1rem 2rem;
    background-color: #03a3df;
    color: white;
}
.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: space-between;
}
.item-1 {
    grid-column: 1 / 2;
    grid-row: 1/ 3;
}
.item-2 {
    grid-column: 2 /3;
    grid-row: 1 / 3;
} 
.item-3 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}
.fancy-gold {
    border: 2px solid #ecb722;
    width: 100%;
    text-align: center;
}
footer p {
    position: relative;
    top: 180px;
    left: 20px;
    color: white;
}
.center {
    text-align: center;
}